.index-body{
    background-color: #F9F5EA;
}

.index-header {
    text-align: center;
}

.float-left{
    float: left;
    padding-left: 450px;
}

.float-right{
    float: right;
    padding-right: 450px
}

.clear-float{
    float: clear;
}

.index-div{
    text-align: left;
    background-color: #EDE8D5;
}

.zip-upload-form {
    background-color: #F9F5EA;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    align: left
}

.translate-upload-form {
    background-color: #F9F5EA;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    align: center
}

.index-input {
    padding: 5px;
}