<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        ConvertLingo
    </title>
    <link rel="stylesheet" href="index.css">
    <script source="index.js"></script>
</head>
<body class="index-body">
<!--    <img src="images/android-chrome-512X512.png">-->
    <h2 class="index-header">Welcome to Convert Lingo!</h2>
    <h3 class="index-header">The site where you can bulk translate your files for free!!</h3>
    <div class="index-div">
        Conversion Process:
        <ol>
            <li>Upload your zipped file which is containing all the files that needs to be translated.</li>
            <li>We will share the Excel file with all the key value pairs for your review</li>
            <li>Upload the reviewed file and get the translated values for verification.</li>
            <li>Upload the Excel with translated values and the resource files and get the file with translated data.</li>
        </ol>
        <br/>
        <form class="index-form" method="post" th:action="@{/translate/upload/zip}" enctype="multipart/form-data">
            <p>
                <label for="email">E-Mail:</label>
                <input id="email" name="emailId" type="email">
            </p>
            <p>
                <label for="uploadFile">Upload File</label>
                <input id="uploadFile" name="file" type="file">
            </p>
            <button type="submit"> Upload File</button>
        </form>
    </div>
</body>
</html>